.Story {
  text-align: center;
  color: #707070;
  margin-left: 1%;
  margin-right: 1%;
}

.Story :global p {
  font-family: "Karla Bold";
}

.Story :global .text {
  font-family: "Karla Bold";
  margin: 5%;
  font-size: 2vw;
}

.Story :global h1 {
  font-family: "Source-Code-Pro Bold";
  font-size: 5vw;
}
.Story :global h2 {
  font-family: "Source-Code-Pro Bold";
  font-size: 4vw;
}
.Story :global h3 {
  font-family: "Source-Code-Pro Bold";
  font-size: 3vw;
}
.Story :global h4 {
  font-family: "Source-Code-Pro Bold";
  font-size: 2vw;
}
